p,
h3 {
    font-family: Helvetica;
}

h3 {
    font-weight: bold;
}

.foto{
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

.title{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center; 
}

.subt{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes{
    background-color :mediumspringgreen;
}

.frames{
    background-color :lightcoral;
}

.paint{
    background-color :skyblue;
}


